Latihan Regex

In [1]:
import re
import pandas as pd
colnames=['id', 'kode_sarana', 'kode_sarana_lama', 'id_kartu', 'id_jenis', 'id_sub_jenis', 'seri', 'tahun_dinas', 'id_daops', 'id_depo', 'status', 'negara_asal', 'tgl_uji_pertama', 'tgl_masa_uji', 'tgl_masa_perawatan', 'pabrikan', 'id_pemilik', 'created_at', 'last_update' ] 
data = pd.read_csv('datasarana.csv', names=colnames)
data

,id,kode_sarana,kode_sarana_lama,id_kartu,id_jenis,id_sub_jenis,seri,tahun_dinas,id_daops,id_depo,status,negara_asal,tgl_uji_pertama,tgl_masa_uji,tgl_masa_perawatan,pabrikan,id_pemilik,created_at,last_update
0,14591,K101635,NaN,NaN,11,8,0.0,2016,7,16,Aktiv,NaN,2016-06-08,2019-11-17,0000-00-00,PT INKA,2,NaN,NaN
1,14585,K101629,NaN,NaN,11,8,0.0,2016,7,16,Aktiv,NaN,2016-06-08,2019-11-17,0000-00-00,PT INKA,2,NaN,NaN
2,14583,K101627,NaN,NaN,11,8,0.0,2016,7,16,Aktiv,NaN,2016-06-08,2019-11-17,0000-00-00,PT INKA,2,NaN,NaN
3,16103,P01903,NaN,NaN,11,10,0.0,2018,7,16,Aktiv,INDONESIA,2019-02-01,2020-02-01,0000-00-00,PT INKA,2,NaN,NaN
4,16100,M101903,NaN,NaN,11,11,0.0,2018,7,16,Aktiv,INDONESIA,2019-02-01,2020-02-01,0000-00-00,PT INKA,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14033,1819,GB350906,ZZOW 351006,NaN,4,16,58.0,2009,25,71,Aktiv,NaN,2009-12-28,2020-11-29,0000-00-00,PT INKA,1,NaN,NaN
14034,1820,GB350907,ZZOW 351007,NaN,4,16,58.0,2009,25,71,Aktiv,NaN,2009-12-28,2020-11-29,0000-00-00,PT INKA,1,NaN,NaN
14035,1821,GB350908,ZZOW 351008,NaN,4,16,58.0,2009,25,71,Aktiv,NaN,2009-12-28,2020-11-29,0000-00-00,PT INKA,1,NaN,NaN
14036,1822,GB350909,ZZOW 351009,NaN,4,16,58.0,2009,25,71,Aktiv,NaN,2009-12-28,2020-11-29,0000-00-00,PT INKA,1,NaN,NaN
14037,1823,GB350910,ZZOW 351010,NaN,4,16,58.0,2009,25,71,Aktiv,NaN,2009-12-28,2017-12-27,0000-00-00,PT INKA,1,NaN,NaN

In [2]:
depo = pd.read_csv('data_source/depo_after.csv', index_col=0)
depo.head()

,Daop,Nama_Daop,Pemilik,Jenis,Koordinat_X,Koordinat_Y
0,DAOP 1 JAKARTA,Depo Lokomotif Jatinegara,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.214245,106.867028
1,DAOP 1 JAKARTA,Depo Kereta Jakarta Kota,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.134634,106.823285
2,DAOP 1 JAKARTA,Depo Gerbong Jakarta Gudang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.133301,106.818028
3,DAOP 1 JAKARTA,Depo Kereta Rangkas Bitung,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.352703,106.253297
7,DAOP 2 BANDUNG,Depo Lokomotif Bandung,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.913390,107.599592

In [3]:
data = data[['kode_sarana','tgl_masa_uji', 'pabrikan' ]]

In [4]:
data

      kode_sarana tgl_masa_uji pabrikan
0         K101635   2019-11-17  PT INKA
1         K101629   2019-11-17  PT INKA
2         K101627   2019-11-17  PT INKA
3          P01903   2020-02-01  PT INKA
4         M101903   2020-02-01  PT INKA
...           ...          ...      ...
14033    GB350906   2020-11-29  PT INKA
14034    GB350907   2020-11-29  PT INKA
14035    GB350908   2020-11-29  PT INKA
14036    GB350909   2020-11-29  PT INKA
14037    GB350910   2017-12-27  PT INKA

[14038 rows x 3 columns]

In [5]:
data['pabrikan'].value_counts()

PT INKA                              5812
ARAD (RUMANIA)                       2025
Baotaou Beifang Chuangye Co., Ltd    1800
Canada                               1004
KAWASAKI                              816
GE (USA)                              305
CRRC YANGTZE CO,LTD                   276
NIPPON SHARYO (JEPANG)                236
WAGGONBAU (JERMAN)                    156
NIPPON SHARYO                         136
KINKI SHARYO (JEPANG)                 129
GYOR (HUNGARIA)                       120
ESSLINGEN SPG (JERMAN)                107
Mitshubishi Jepang                     97
TOKYO CORP                             96
Sumitomo                               92
KWSK, KS, NS, TC                       88
PLASSER AND THEURER                    81
GOSA (YUGOSLAVIA)                      77
Kawasaki                               59
GM (USA)                               56
TOKYU                                  56
EMD (USA)                              55
KINKI SHARYO                           43
GE-USA                                 39
HITACHI                                30
RHEINSTHAL HENSCHEL (JERMAN)           29
HOLEC BN                               24
HOLEC-PT INKA (Persero)                22
HYUNDAY ROTEM                          16
WOOJIN                                 16
(kosong)                               12
Woojin                                 12
FRIED-KRUPP (JERMAN)                   12
THYSSEN HENSCHEL (JERMAN)              12
GE(USA)                                11
Tokyu                                   8
Hitachi                                 7
Balaiyasa MRI                           6
HYUNDAI- PT INKA (Persero)              5
MATISA                                  4
SLM (SWISS)                             4
Kinki Sharyo                            3
PT INKA - BOMBARDIER                    3
Geismar                                 3
JEPANG                                  3
HOKURIKU                                3
ARAD                                    2
Plasser and Theurer                     2
VAIA Car                                2
GOTTWALD                                2
KIROW AG                                2
HARSCO                                  1
ZEPHIR                                  1
KIROW                                   1
Shin Sung System                        1
Harscho                                 1
Nippon Sharyo                           1
 PBR 400 U-RS No. 6627                  1
MAN                                     1
Name: pabrikan, dtype: int64

In [6]:
pd.Series(
....: ["a1", "b2", "c3"],
....: dtype="string",
....: ).str.extract(r"([ab])(\d)", expand=False)
....:

      0     1
0     a     1
1     b     2
2  <NA>  <NA>

In [7]:
data['ekstrak_kode2'] = data['kode_sarana'].str.extract(r"(\w.)")

<ipython-input-7-037da29d5018>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ekstrak_kode2'] = data['kode_sarana'].str.extract(r"(\w.)")

In [8]:
data

      kode_sarana tgl_masa_uji pabrikan ekstrak_kode2
0         K101635   2019-11-17  PT INKA            K1
1         K101629   2019-11-17  PT INKA            K1
2         K101627   2019-11-17  PT INKA            K1
3          P01903   2020-02-01  PT INKA            P0
4         M101903   2020-02-01  PT INKA            M1
...           ...          ...      ...           ...
14033    GB350906   2020-11-29  PT INKA            GB
14034    GB350907   2020-11-29  PT INKA            GB
14035    GB350908   2020-11-29  PT INKA            GB
14036    GB350909   2020-11-29  PT INKA            GB
14037    GB350910   2017-12-27  PT INKA            GB

[14038 rows x 4 columns]

In [9]:
data['ekstrak_kode2'] = data['kode_sarana'].str.extract(r"(\w.\d)", expand=False)

<ipython-input-9-a77298a6f52e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ekstrak_kode2'] = data['kode_sarana'].str.extract(r"(\w.\d)", expand=False)

In [10]:
data

      kode_sarana tgl_masa_uji pabrikan ekstrak_kode2
0         K101635   2019-11-17  PT INKA           K10
1         K101629   2019-11-17  PT INKA           K10
2         K101627   2019-11-17  PT INKA           K10
3          P01903   2020-02-01  PT INKA           P01
4         M101903   2020-02-01  PT INKA           M10
...           ...          ...      ...           ...
14033    GB350906   2020-11-29  PT INKA           GB3
14034    GB350907   2020-11-29  PT INKA           GB3
14035    GB350908   2020-11-29  PT INKA           GB3
14036    GB350909   2020-11-29  PT INKA           GB3
14037    GB350910   2017-12-27  PT INKA           GB3

[14038 rows x 4 columns]

In [11]:
data['ekstrak_kode'] = data['kode_sarana'].str.extract(r'(?:0)(\w.)', expand=False)

<ipython-input-11-d75f2381d85d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ekstrak_kode'] = data['kode_sarana'].str.extract(r'(?:0)(\w.)', expand=False)

In [12]:
data

      kode_sarana tgl_masa_uji pabrikan ekstrak_kode2 ekstrak_kode
0         K101635   2019-11-17  PT INKA           K10           16
1         K101629   2019-11-17  PT INKA           K10           16
2         K101627   2019-11-17  PT INKA           K10           16
3          P01903   2020-02-01  PT INKA           P01           19
4         M101903   2020-02-01  PT INKA           M10           19
...           ...          ...      ...           ...          ...
14033    GB350906   2020-11-29  PT INKA           GB3           90
14034    GB350907   2020-11-29  PT INKA           GB3           90
14035    GB350908   2020-11-29  PT INKA           GB3           90
14036    GB350909   2020-11-29  PT INKA           GB3           90
14037    GB350910   2017-12-27  PT INKA           GB3           91

[14038 rows x 5 columns]

In [13]:
depo['Jenis_2'] = depo['Nama_Daop'].str.extract(r"(?:\s)(\w+)", expand=False)

In [14]:
depo.head()

,Daop,Nama_Daop,Pemilik,Jenis,Koordinat_X,Koordinat_Y,Jenis_2
0,DAOP 1 JAKARTA,Depo Lokomotif Jatinegara,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.214245,106.867028,Lokomotif
1,DAOP 1 JAKARTA,Depo Kereta Jakarta Kota,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.134634,106.823285,Kereta
2,DAOP 1 JAKARTA,Depo Gerbong Jakarta Gudang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.133301,106.818028,Gerbong
3,DAOP 1 JAKARTA,Depo Kereta Rangkas Bitung,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.352703,106.253297,Kereta
7,DAOP 2 BANDUNG,Depo Lokomotif Bandung,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.913390,107.599592,Lokomotif

In [15]:
depo['lokasi'] = depo['Nama_Daop'].str.extract(r"(\w+)$", expand=False)

In [16]:
depo.head()

,Daop,Nama_Daop,Pemilik,Jenis,Koordinat_X,Koordinat_Y,Jenis_2,lokasi
0,DAOP 1 JAKARTA,Depo Lokomotif Jatinegara,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.214245,106.867028,Lokomotif,Jatinegara
1,DAOP 1 JAKARTA,Depo Kereta Jakarta Kota,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.134634,106.823285,Kereta,Kota
2,DAOP 1 JAKARTA,Depo Gerbong Jakarta Gudang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.133301,106.818028,Gerbong,Gudang
3,DAOP 1 JAKARTA,Depo Kereta Rangkas Bitung,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.352703,106.253297,Kereta,Bitung
7,DAOP 2 BANDUNG,Depo Lokomotif Bandung,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.913390,107.599592,Lokomotif,Bandung

In [86]:
def func(col) :
    if re.match(r'\w+', col['Daop'])[0] == "DAOP" :
        area = "JAWA"
    else :
        area = "SUMATERA"
    return area

In [79]:

depo['lokasi'] = depo.apply(func, axis=1)

In [74]:
depo['status_regex'] = depo['Daop'].str.contains(r'DAOP')

In [75]:
depo

,Daop,Nama_Daop,Pemilik,Jenis,Koordinat_X,Koordinat_Y,Jenis_2,lokasi,status_regex
0,DAOP 1 JAKARTA,Depo Lokomotif Jatinegara,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.214245,106.867028,Lokomotif,JAWA,True
1,DAOP 1 JAKARTA,Depo Kereta Jakarta Kota,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.134634,106.823285,Kereta,JAWA,True
2,DAOP 1 JAKARTA,Depo Gerbong Jakarta Gudang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.133301,106.818028,Gerbong,JAWA,True
3,DAOP 1 JAKARTA,Depo Kereta Rangkas Bitung,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.352703,106.253297,Kereta,JAWA,True
7,DAOP 2 BANDUNG,Depo Lokomotif Bandung,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.913390,107.599592,Lokomotif,JAWA,True
8,DAOP 2 BANDUNG,Depo Kereta / KRD Bandung,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.913966,107.594613,Kereta,JAWA,True
9,DAOP 3 CIREBON,Depo Lokomotif Cirebon,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.703374,108.554190,Lokomotif,JAWA,True
10,DAOP 3 CIREBON,Depo Kereta Cirebon,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.706306,108.555270,Kereta,JAWA,True
11,DAOP 4 SEMARANG,Depo Lokomotif Semarang Poncol,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.972914,110.414699,Lokomotif,JAWA,True
12,DAOP 4 SEMARANG,Depo Kereta Semarang Poncol,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.973328,110.413516,Kereta,JAWA,True
13,DAOP 4 SEMARANG,Depo Kereta Cepu,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.155828,111.588028,Kereta,JAWA,True
15,DAOP 5 PURWOKERTO,Depo Lokomotif Purwokerto,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-7.417357,109.221008,Lokomotif,JAWA,True
16,DAOP 5 PURWOKERTO,Depo Kereta Purwokerto,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.417307,109.221189,Kereta,JAWA,True
17,DAOP 5 PURWOKERTO,Depo Kereta Kutoarjo,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.726462,109.909499,Kereta,JAWA,True
18,DAOP 5 PURWOKERTO,Depo Gerbong Maos,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.618823,109.138499,Gerbong,JAWA,True
21,DAOP 6 YOGYAKARTA,Depo Lokomotif Yogyakarta,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-7.788405,110.361065,Lokomotif,JAWA,True
22,DAOP 6 YOGYAKARTA,Depo Kereta Yogyakarta,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.789831,110.374880,Kereta,JAWA,True
23,DAOP 6 YOGYAKARTA,Depo Lokomotif Solo,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-7.557355,110.815163,Lokomotif,JAWA,True
24,DAOP 6 YOGYAKARTA,Depo Kereta Solo,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.557186,110.814977,Kereta,JAWA,True
26,DAOP 7 MADIUN,Depo Lokomotif Madiun,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-7.618389,111.522891,Lokomotif,JAWA,True
27,DAOP 7 MADIUN,Depo Kereta Madiun,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.618022,111.528362,Kereta,JAWA,True
29,DAOP 8 SURABAYA,Depo Lokomotif Sidotopo,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-7.234179,112.754733,Lokomotif,JAWA,True
30,DAOP 8 SURABAYA,Depo Kereta / KRD Sidotopo,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.236162,112.755821,Kereta,JAWA,True
31,DAOP 8 SURABAYA,Depo Kereta Surabaya Pasar Turi,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.250548,112.728394,Kereta,JAWA,True
32,DAOP 8 SURABAYA,Depo Kereta Surabaya Gubeng,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.265427,112.752277,Kereta,JAWA,True
33,DAOP 8 SURABAYA,Depo Lokomotif Malang,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-7.977818,112.637403,Lokomotif,JAWA,True
34,DAOP 8 SURABAYA,Depo Kereta Malang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.974572,112.637350,Kereta,JAWA,True
35,DAOP 8 SURABAYA,Depo Gerbong Sidotopo,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-7.234679,112.757120,Gerbong,JAWA,True
36,DAOP 9 JEMBER,Depo Lokomotif Jember,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-8.163915,113.702765,Lokomotif,JAWA,True
37,DAOP 9 JEMBER,Depo Kereta Banyuwangi,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-8.137884,114.397050,Kereta,JAWA,True
38,DIVRE I SUMATERA UTARA,Depo Lokomotif Medan,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,3.593173,98.679209,Lokomotif,SUMATERA,False
39,DIVRE I SUMATERA UTARA,Depo Kereta Medan,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,3.593173,98.679209,Kereta,SUMATERA,False
42,DIVRE II SUMATERA BARAT,Depo Lokomotif Padang,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-0.943109,100.373100,Lokomotif,SUMATERA,False
43,DIVRE II SUMATERA BARAT,Depo Kereta Padang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-0.941220,100.373090,Kereta,SUMATERA,False
44,DIVRE III SUMATERA SELATAN,Depo Lokomotif Kertapati,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-3.022551,104.747420,Lokomotif,SUMATERA,False
45,DIVRE III SUMATERA SELATAN,Depo Kereta Kertapati,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-3.019455,104.750090,Kereta,SUMATERA,False
46,DIVRE III SUMATERA SELATAN,Depo Gerbong Kertapati,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-3.021862,104.746840,Gerbong,SUMATERA,False
48,DIVRE III SUMATERA SELATAN,Depo Gerbong Tanjung Enim Baru,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-3.707716,103.798637,Gerbong,SUMATERA,False
50,PT KAI COMMUTER JABOTABEK,Depo KRL Bukit Duri,PT Kereta Commuter Indonesia,Depo Sarana Penggerak,-6.217738,106.861169,KRL,SUMATERA,False
51,PT KAI COMMUTER JABOTABEK,Depo KRL Depok,Ditjen Perkeretaapian,Depo Sarana Penggerak,-6.416477,106.811902,KRL,SUMATERA,False
52,PT KAI COMMUTER JABOTABEK,Depo KRL Bogor,PT Kereta Commuter Indonesia,Depo Sarana Penggerak,-6.591201,106.791453,KRL,SUMATERA,False
54,DIVRE IV LAMPUNG,Depo Lokomotif Tarahan,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-5.503102,105.336337,Lokomotif,SUMATERA,False
55,DIVRE IV LAMPUNG,Depo Kereta Tanjung Karang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-5.406307,105.261059,Kereta,SUMATERA,False
57,DIVRE IV LAMPUNG,Depo Kereta Rejosari,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-5.293230,105.187220,Kereta,SUMATERA,False
58,DIVRE IV LAMPUNG,Depo Gerbong Rejosari,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-5.294167,105.187778,Gerbong,SUMATERA,False
59,DIVRE IV LAMPUNG,Depo Lokomotif Tanjung Karang,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-5.406307,105.261059,Lokomotif,SUMATERA,False