In [1]:
import pandas as pd

In [2]:
# ambil data yang mau di kroscek status sertifikasinya (data kai)
df_kai_baru = pd.read_csv('../data_source/datsar/data_kai_after_okt.csv', index_col=0)
df_kai_baru

,NOMOR_IDENTITAS,DAOP,DEPO,JENIS,TAHUN,TAHUN_2,UMUR,RANGE_USIA
0,GB308401,DAOP 1,JAKG,GERBONG,84,1984,37,>30 th
1,GB308403,DAOP 4,SMC,GERBONG,84,1984,37,>30 th
2,GB308406,DAOP 4,SMC,GERBONG,84,1984,37,>30 th
3,GB308407,DAOP 4,SMC,GERBONG,84,1984,37,>30 th
4,GB308409,DAOP 4,SMC,GERBONG,84,1984,37,>30 th
...,...,...,...,...,...,...,...,...
9876,K206515,DIVRE 3,DEPO LOKOMOTIF KERTAPATI,PERALATAN KHUSUS,65,1965,56,>30 th
9877,K206511,DIVRE 3,DEPO LOKOMOTIF TMB,PERALATAN KHUSUS,65,1965,56,>30 th
9878,K207843,DIVRE 4,DEPO LOKOMOTIF TARAHAN,PERALATAN KHUSUS,78,1978,43,>30 th
9879,K206501,DIVRE 4,DEPO LOKOMOTIF TANJUNGKARANG,PERALATAN KHUSUS,65,1965,56,>30 th
9880,K206509,DIVRE 2,DEPO LOKOMOTIF PADANG,PERALATAN KHUSUS,65,1965,56,>30 th

In [3]:
#ambil data master sarana dari tanda lulus uji
colnames=['id', 'kode_sarana', 'kode_sarana_lama', 'id_kartu', 'id_jenis', 'id_sub_jenis', 'seri', 'tahun_dinas', 'id_daops', 'id_depo', 'status', 'negara_asal', 'tgl_uji_pertama', 'tgl_masa_uji', 'tgl_masa_perawatan', 'pabrikan', 'pemilik', 'alamat', 'keterangan' ] 
df_sarana = pd.read_csv('../data_source/datsar/data_sarana_okt.csv', names=colnames)
df_sarana.head()

,id,kode_sarana,kode_sarana_lama,id_kartu,id_jenis,id_sub_jenis,seri,tahun_dinas,id_daops,id_depo,status,negara_asal,tgl_uji_pertama,tgl_masa_uji,tgl_masa_perawatan,pabrikan,pemilik,alamat,keterangan
0,8185,GT306401,TTW 17,NaN,4,17,61.0,1964,11,65,Tidak Aktiv,NaN,0000-00-00,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
1,8136,GT306402,TTW 24,NaN,4,17,61.0,1964,11,65,Tidak Aktiv,NaN,0000-00-00,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
2,8137,GT306403,TTW 27,NaN,4,17,61.0,1964,11,65,Tidak Aktiv,NaN,0000-00-00,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
3,8189,GT306404,TTW 46,NaN,4,17,61.0,1964,11,65,Tidak Aktiv,NaN,0000-00-00,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
4,8138,GT306405,TTW 61,NaN,4,17,61.0,1964,11,65,Tidak Aktiv,NaN,0000-00-00,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN

In [4]:
merge_df = pd.merge(left=df_kai_baru, right=df_sarana, how='left', left_on='NOMOR_IDENTITAS', right_on='kode_sarana')
merge_df.shape

(9881, 27)

In [5]:
df_kai_baru.shape

(9881, 8)

In [6]:
merge_df

,NOMOR_IDENTITAS,DAOP,DEPO,JENIS,TAHUN,TAHUN_2,UMUR,RANGE_USIA,id,kode_sarana,...,id_depo,status,negara_asal,tgl_uji_pertama,tgl_masa_uji,tgl_masa_perawatan,pabrikan,pemilik,alamat,keterangan
0,GB308401,DAOP 1,JAKG,GERBONG,84,1984,37,>30 th,1201.0,GB308401,...,19.0,SG,NaN,2009-12-28,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
1,GB308403,DAOP 4,SMC,GERBONG,84,1984,37,>30 th,1203.0,GB308403,...,19.0,SG,NaN,2009-12-28,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
2,GB308406,DAOP 4,SMC,GERBONG,84,1984,37,>30 th,1206.0,GB308406,...,19.0,SG,NaN,2009-12-28,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
3,GB308407,DAOP 4,SMC,GERBONG,84,1984,37,>30 th,1207.0,GB308407,...,19.0,SG,NaN,2009-12-28,0000-00-00,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
4,GB308409,DAOP 4,SMC,GERBONG,84,1984,37,>30 th,1209.0,GB308409,...,19.0,SG,NaN,2009-12-28,2020-08-31,0000-00-00,ARAD (RUMANIA),PT. Kereta Api Indonesia (Persero),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9876,K206515,DIVRE 3,DEPO LOKOMOTIF KERTAPATI,PERALATAN KHUSUS,65,1965,56,>30 th,4769.0,K206515,...,29.0,SG,NaN,2009-12-28,2020-11-01,0000-00-00,NIPPON SHARYO (JEPANG),PT. Kereta Api Indonesia (Persero),NaN,NaN
9877,K206511,DIVRE 3,DEPO LOKOMOTIF TMB,PERALATAN KHUSUS,65,1965,56,>30 th,4765.0,K206511,...,29.0,SG,NaN,2009-12-28,2020-11-01,0000-00-00,NIPPON SHARYO (JEPANG),PT. Kereta Api Indonesia (Persero),NaN,NaN
9878,K207843,DIVRE 4,DEPO LOKOMOTIF TARAHAN,PERALATAN KHUSUS,78,1978,43,>30 th,4789.0,K207843,...,27.0,SG,NaN,2009-12-28,2019-02-15,0000-00-00,KINKI SHARYO (JEPANG),PT. Kereta Api Indonesia (Persero),NaN,NaN
9879,K206501,DIVRE 4,DEPO LOKOMOTIF TANJUNGKARANG,PERALATAN KHUSUS,65,1965,56,>30 th,4707.0,K206501,...,63.0,SG,NaN,2009-12-28,2020-11-14,0000-00-00,ESSLINGEN SPG (JERMAN),PT. Kereta Api Indonesia (Persero),NaN,NaN
9880,K206509,DIVRE 2,DEPO LOKOMOTIF PADANG,PERALATAN KHUSUS,65,1965,56,>30 th,4763.0,K206509,...,41.0,SG,NaN,2009-12-28,2019-10-13,0000-00-00,NIPPON SHARYO (JEPANG),PT. Kereta Api Indonesia (Persero),NaN,NaN

In [7]:
merge_df = merge_df[['NOMOR_IDENTITAS', 'DAOP', 'DEPO', 'JENIS', 'tgl_masa_uji']]
merge_df

,NOMOR_IDENTITAS,DAOP,DEPO,JENIS,tgl_masa_uji
0,GB308401,DAOP 1,JAKG,GERBONG,0000-00-00
1,GB308403,DAOP 4,SMC,GERBONG,0000-00-00
2,GB308406,DAOP 4,SMC,GERBONG,0000-00-00
3,GB308407,DAOP 4,SMC,GERBONG,0000-00-00
4,GB308409,DAOP 4,SMC,GERBONG,2020-08-31
...,...,...,...,...,...
9876,K206515,DIVRE 3,DEPO LOKOMOTIF KERTAPATI,PERALATAN KHUSUS,2020-11-01
9877,K206511,DIVRE 3,DEPO LOKOMOTIF TMB,PERALATAN KHUSUS,2020-11-01
9878,K207843,DIVRE 4,DEPO LOKOMOTIF TARAHAN,PERALATAN KHUSUS,2019-02-15
9879,K206501,DIVRE 4,DEPO LOKOMOTIF TANJUNGKARANG,PERALATAN KHUSUS,2020-11-14
9880,K206509,DIVRE 2,DEPO LOKOMOTIF PADANG,PERALATAN KHUSUS,2019-10-13

In [8]:
merge_df.dtypes

NOMOR_IDENTITAS    object
DAOP               object
DEPO               object
JENIS              object
tgl_masa_uji       object
dtype: object

In [9]:
merge_df['tgl_masa_uji'] = merge_df['tgl_masa_uji'].str.replace('0000-00-00', '2007-01-01')

<ipython-input-9-ea31e17c5dd9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['tgl_masa_uji'] = merge_df['tgl_masa_uji'].str.replace('0000-00-00', '2007-01-01')

In [10]:
merge_df['tgl_masa_uji']= pd.to_datetime(merge_df['tgl_masa_uji'])

<ipython-input-10-6ce0ae934c19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['tgl_masa_uji']= pd.to_datetime(merge_df['tgl_masa_uji'])

In [11]:
merge_df.dtypes

NOMOR_IDENTITAS            object
DAOP                       object
DEPO                       object
JENIS                      object
tgl_masa_uji       datetime64[ns]
dtype: object

In [12]:
merge_df

,NOMOR_IDENTITAS,DAOP,DEPO,JENIS,tgl_masa_uji
0,GB308401,DAOP 1,JAKG,GERBONG,2007-01-01
1,GB308403,DAOP 4,SMC,GERBONG,2007-01-01
2,GB308406,DAOP 4,SMC,GERBONG,2007-01-01
3,GB308407,DAOP 4,SMC,GERBONG,2007-01-01
4,GB308409,DAOP 4,SMC,GERBONG,2020-08-31
...,...,...,...,...,...
9876,K206515,DIVRE 3,DEPO LOKOMOTIF KERTAPATI,PERALATAN KHUSUS,2020-11-01
9877,K206511,DIVRE 3,DEPO LOKOMOTIF TMB,PERALATAN KHUSUS,2020-11-01
9878,K207843,DIVRE 4,DEPO LOKOMOTIF TARAHAN,PERALATAN KHUSUS,2019-02-15
9879,K206501,DIVRE 4,DEPO LOKOMOTIF TANJUNGKARANG,PERALATAN KHUSUS,2020-11-14
9880,K206509,DIVRE 2,DEPO LOKOMOTIF PADANG,PERALATAN KHUSUS,2019-10-13

In [13]:
import datetime
now = datetime.date.today()
print(now)

2021-11-02

In [14]:
def status_uji(x):
    
    
    if x > now:
        return "Masih Berlaku"
    else:
        return "Kadaluarsa"

In [15]:
merge_df['STATUS_UJI'] = merge_df['tgl_masa_uji'].apply(lambda x : status_uji(x))

<ipython-input-14-b9473db23d7d>:4: FutureWarning: Comparison of NaT with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.
  if x > now:
<ipython-input-15-38c8016744e6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['STATUS_UJI'] = merge_df['tgl_masa_uji'].apply(lambda x : status_uji(x))

In [16]:
merge_df

,NOMOR_IDENTITAS,DAOP,DEPO,JENIS,tgl_masa_uji,STATUS_UJI
0,GB308401,DAOP 1,JAKG,GERBONG,2007-01-01,Kadaluarsa
1,GB308403,DAOP 4,SMC,GERBONG,2007-01-01,Kadaluarsa
2,GB308406,DAOP 4,SMC,GERBONG,2007-01-01,Kadaluarsa
3,GB308407,DAOP 4,SMC,GERBONG,2007-01-01,Kadaluarsa
4,GB308409,DAOP 4,SMC,GERBONG,2020-08-31,Kadaluarsa
...,...,...,...,...,...,...
9876,K206515,DIVRE 3,DEPO LOKOMOTIF KERTAPATI,PERALATAN KHUSUS,2020-11-01,Kadaluarsa
9877,K206511,DIVRE 3,DEPO LOKOMOTIF TMB,PERALATAN KHUSUS,2020-11-01,Kadaluarsa
9878,K207843,DIVRE 4,DEPO LOKOMOTIF TARAHAN,PERALATAN KHUSUS,2019-02-15,Kadaluarsa
9879,K206501,DIVRE 4,DEPO LOKOMOTIF TANJUNGKARANG,PERALATAN KHUSUS,2020-11-14,Kadaluarsa
9880,K206509,DIVRE 2,DEPO LOKOMOTIF PADANG,PERALATAN KHUSUS,2019-10-13,Kadaluarsa

In [17]:
merge_df['STATUS_UJI'].value_counts()

Kadaluarsa       7875
Masih Berlaku    2006
Name: STATUS_UJI, dtype: int64

In [18]:
merge_df[merge_df.STATUS_UJI == "Masih Berlaku"]

,NOMOR_IDENTITAS,DAOP,DEPO,JENIS,tgl_masa_uji,STATUS_UJI
101,GD4211131,DAOP 8,SDT,GERBONG,2022-01-15,Masih Berlaku
102,GD4211132,DAOP 8,SDT,GERBONG,2022-01-15,Masih Berlaku
104,GD4211134,DAOP 1,JAKG,GERBONG,2022-01-22,Masih Berlaku
109,GD4211139,DAOP 8,SDT,GERBONG,2022-01-22,Masih Berlaku
114,GD4211143,DAOP 8,SDT,GERBONG,2022-01-15,Masih Berlaku
...,...,...,...,...,...,...
9784,K1118129,DIVRE 3,DEPO LRT JAKABARING,LRT,2022-01-15,Masih Berlaku
9785,K1118130,DIVRE 3,DEPO LRT JAKABARING,LRT,2022-01-15,Masih Berlaku
9786,K1118131,DIVRE 3,DEPO LRT JAKABARING,LRT,2022-01-15,Masih Berlaku
9787,K1118132,DIVRE 3,DEPO LRT JAKABARING,LRT,2022-01-15,Masih Berlaku
9788,K1118133,DIVRE 3,DEPO LRT JAKABARING,LRT,2022-01-15,Masih Berlaku

In [19]:
#merge_df.to_csv('../data_source/datsar/kai(update_status_uji).csv', sep=',')